<h1>Welcome to the Rock, Paper, Scissors Ultimate Challenge!</h1>
<h2>Register your name to play:</h2>
<form action="/name" method="post">
  <label for="player">
      Player name:
    <input type="text" name="player">
  </label>
  <input type="submit" value="Submit">
</form>
