<form action="/result" method="post">
<h2>Choose your move:</h2>
<button name="player_move" type="submit" value="Rock">Rock</button>
<button name="player_move" type="submit" value="Paper">Paper</button>
<button name="player_move" type="submit" value="Scissors">Scissors</button>
</form>
